@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

.icon {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center; 
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 30px;
    place-items: center;
}

.profile-card {
    height: auto;
    width: auto;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.card-holder {
    position: relative;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    place-items: center;
}

.pic {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

.pic img {
    display: block;
    width: 150px;
    height: 150PX;
    border-radius: 50%;
}

.name {
    color: black;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.icon a:hover {
    color: white;
    border-radius: 20px;
    background-color: black;
}

@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}